<h1>Let's do this <%= @player.name.capitalize %></h1>
<h2>You are versing <%= @opponent.name.capitalize %></h2>

<form action='/play_game' method="post">
	<button name="pick" value="Rock" class="choice" id="rock">Rock</button>
	<button name="pick" value="Paper" class="choice" id="paper">Paper</button>
	<button name="pick" value="Scissors" class="choice" id="scissors">Scissors</button>
	<button name="pick" value="Lizard" class="choice" id="lizard">Lizard</button>
	<button name="pick" value="Spock" class="choice" id="Spock">Spock</button>
</form>

