<h1>Let's do this <%= @player.name.capitalize %></h1>
<h2>You are versing <%= @opponent.name.capitalize %></h2>

<form action='/play_game' method="post">
	<button name="pick" value="Rock" class="choice" id="rock">rock</button>
	<button name="pick" value="Paper" class="choice" id="paper">paper</button>
	<button name="pick" value="Scissors" class="choice" id="scissors">scissors</button>
	<button name="pick" value="Lizard" class="choice" id="lizard">lizard</button>
	<button name="pick" value="Spock" class="choice" id="Spock">spock</button>
</form>

