<!-- <html>
<head>

</head>
<body>
<section class="main">
	<a class="button" href="game/single">Click to Play!</a>
</section>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' id='stylesheet'  href='/css/application.css' type='text/css' media='all' />
</head>
<body>
<header>
  <div id="animated-example" class="animated swing">
    <title>Rock Paper Scissors</title>
  </div>
</header>

<h1>My First Heading</h1>

<p>My first paragraph.</p>

</body>
</html>
